.wrapper{
    display : none;
}   

.navigationBar{
    width : 90%;
    height : 60px;
    display : flex;
    justify-content: space-between;
    align-items : flex-end;
    margin: 0 auto;

} 

@media only screen and (min-width : 1040px){

    .navigationBar{
        width : 110px;
        height : 100vh;
        background-color: var(--secondary);
        flex-direction : column;
        position : fixed;
        left : 0;
        padding : 0;
        align-items : unset;
    }
    
    .navigationIcon{
        color : var(--red);
        font-size : 1.625rem;
        cursor : pointer;
        display : block;
    }    

    .logoContainer{
        height : 100px;
        width : 100%;
        display : flex;
        justify-content : center;
        align-items : center;
    }
    
}