.button{
    color : var(--red);
    border: 2px solid var(--red);
    font-size : var(--fs-xs);
    display : block;
    background-color : inherit;
    padding : 10px 18px;
}


.button:hover:enabled{
    color : var(--white);
    background-color : var(--red);
    cursor : pointer;
}


.buttonIcon{
    margin-right : 8px;
}

.button:disabled {
    color : #9F043D;
    border : 2px solid #9F043D;
}


@media only screen and (min-width: 768px){

    .button{
        padding : 10px 18px;
        font-size : var(--fs-s);
    }


}