.footer{
    height: 150px;
    background-color : var(--secondary);
    display : grid;
    place-items: center;
}

.footerHeader {
    margin-bottom: 1em;
}

.footer div {
    text-align : center;

}

@media only screen and (min-width: 768px){

}

